



.logoNormal {
  height: 80px;
  padding: 10px 0;
}


.header-div {
  display: flex;
  justify-content: space-between;
}



.mainContainer {
  height: auto;
  overflow: visible;
  background-color: white;
  display: flex;
  flex-direction: row;
}


.menus {
  
  flex-grow: 1;
  background-color: rgb(253, 253, 251);
  display: flex;
  flex-direction: column;
}

.picAndMenuProposal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.firstMainPicture {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 100% 30%;
}
.littleBurgerPicture {
  height: 64px;
  width: 64px;
  border: 1px solid black;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: #fdfdfb;
}

.menuProposal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 12px;
  gap: 16px;
  transform: translateY(-80%);
}

.navigationPoints {
  height: 64px;
  width: 100%;
  padding-left: 12px;
  background-color: rgb(222, 222, 222);
  display: flex;
  align-items: center;
  gap: 24px;
}

.navigationArrow {
  color: var(--primary-color);
  width: 40px;
  height: 40px;
  transition: color 0.3s ease;
}

.navigationArrow:hover {
  color: var(--secondary-color);
}

.mainCoursesPic {
  height: 150px;
  width: 100%;
  padding: 12px;
  object-fit: cover;
  object-position: 100% 30%;
}

a {
  text-decoration: none;
  color: gray;
  font-style: bold;
}
.headlineMainCourses {
  padding-left: 32px;
  padding-bottom: 12px;
}

.menuItem {
  border: 1px solid rgb(239, 239, 239);
  padding-left: 20px;
  margin: 12px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.menuItemDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sideDishesPic {
  height: 150px;
  width: 100%;
  padding: 12px;
  object-fit: cover;
  object-position: 50% 60%;
}

.sideDishesItem {
  border: 1px solid rgb(239, 239, 239);
  padding-left: 20px;
  margin: 12px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.plusIcon {
  color: var(--primary-color);
  width: 40px;
  height: 40px;
  transition: color 0.3s ease;
}

.plusIcon:hover {
  color: yellow;
  background-color: rgb(194, 194, 194);
  filter: drop-shadow(0 0 4px blue);
  border-radius: 50%;
}


.colorGray {
  color: grey;
}

.fontBold {
  font-weight: bold;
}

footer {
  display: none;
}

@media (max-width: 712px) {
.mainContainer{
flex-direction: column;
}

.menus {
  width: 100%;
}

.menuProposal {
  
  transform: translateY(-50%);
}


  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: center;
  }


}

