:root {
  --primary-color: rgba(240, 145, 53, 0.8);
  --secondary-color: #fdfdfb;
}

.primary {
  color: var(--primary-color);
}

body {
  background-color: var(--primary-color);
  font-family: "Comic_Relief", sans-serif;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.contentLimiter {
  max-width: 1200px;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}